.container {
    width: 100vw;
    border: 2px solid black;
    padding: 50px;
    background-image: url("https://w.wallha.com/ws/9/dLvNy0ht.jpg");
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 5px;
    column-gap: 0px;
    display: flex;
}

.size {
    height: 350px;
}

.background {
    padding: 30px;
    border: 4px solid black;
    border-radius: 10px;
    width: 320px;
    display: inline-block;
}

.zubat {
    background-color: blueviolet;
}

.bell {
    background-color: yellowgreen;
}

.bull {
    background-color: lightgreen;
}

.char {
    background-color: orange;
}

.drat {
    background-color: aqua;
}

.eev {
    background-color: darkkhaki;
}

.meow {
    background-color: lightgray;
}

.mew {
    background-color: lightblue;
}

.pikachu {
    background-color: yellow;
}

.ratata {
    background-color: blue;
}

.squirtle1 {
    background-color: deepskyblue;
}

.weedle {
    background-color: burlywood;
}

h1 {
    display: none;
}

.ball {
    display: none;
}


@media (max-width: 1660px) {
    .background {
        transition-duration: 5ms;
        transition: 5ms;
    }
}

.container {
    width: 95vw;
    border: 2px solid black;
    padding: 50px;
    background-image: url("https://w.wallha.com/ws/9/dLvNy0ht.jpg");
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 5px;
    column-gap: 0px;
    display: flex;
}

.size {
    height: 360px;
}

.background {
    padding: 30px;
    border: 4px solid black;
    border-radius: 10px;
    width: 320px;
    display: inline-block;
}

.zubat {
    background-color: blueviolet;
}

.bell {
    background-color: yellowgreen;
}

.bull {
    background-color: lightgreen;
}

.char {
    background-color: orange;
}

.drat {
    background-color: aqua;
}

.eev {
    background-color: darkkhaki;
}

.meow {
    background-color: lightgray;
}

.mew {
    background-color: lightblue;
}

.pikachu {
    background-color: yellow;
}

.ratata {
    background-color: blue;
}

.squirtle1 {
    background-color: deepskyblue;
}

.weedle {
    background-color: burlywood;
}

h1 {
    display: none;
}

.ball {
    display: none;
}


@media (max-width: 1300px) {
    .background {
        display: flex;
        flex-wrap: nowrap;
        height: 200px;
        width: 100%;
        margin: 2px;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }

    .container {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0% auto;
        display: flex;
    }

    .size {
        width: 200px;
        height: 200px;
    }

    h1 {
        font-family: monospace;
        display: inline-block;
        text-align: center;
        font-size: 100px;
        color: whitesmoke;
        margin: 0;
        flex-grow: 1;
        text-align: center;
        text-shadow: 4px 4px black;
    }

    .ball {
        display: inline-block;
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: 0;
    }
}

@media (max-width: 700px) {
    .background {
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        height: 600px;
    }

    .ball {
        transition: 1s;
        transition-duration: 1s;
        display: none;
    }

    h1 {
        transition-duration: 5s;
        display: none;
    }

    .size {
        align-items: center;
        flex-wrap: wrap;
        height: 550px;
        width: 550px;
        padding: 25px;
    }

}
